@charset "utf-8";
/* CSS Document */

.games{

}

.games game
{
	width: 175px;
	height: 30px;
	margin-top: 0.5%;
}

.table
{
	margin: center;
	margin-left: 65px;
	margin-right: 65px;
	boder-size: 0;
	border-style: groove;
	border-color: 0;
	background: white;
}